.daily-weather-info-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.daily-weather-left {
  display: flex;
  align-items: center;
}

.daily-weather-right {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.current-temperature {
  font-size: 4rem; 
  margin: 0 5px;
}

.city-name-label {
  font-size: 1.2rem; 
  margin: 0; 
}

.week-day-label,
.description-label {
  font-size: 1rem; 
  margin: 0;
}

@media (min-width: 768px) {

  .daily-weather-info-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .daily-weather-right {
    align-items: self-end; 
  }

  .current-temperature {
    font-size: 4rem; 
  }

  .city-name-label {
    font-size: 1.5rem; 
  }

  .week-day-label,
  .description-label {
    font-size: 1.2rem; 
  }
}

@media (min-width: 1024px) {
  .daily-weather-info-row {
   flex-direction: row;
   justify-content: space-between;
  }

  .daily-weather-right {
    align-items: self-end;
  }

  .current-temperature {
    font-size: 4.5rem; 
  }

  .city-name-label {
    font-size: 1.8rem; 
  }

  .week-day-label,
  .description-label {
    font-size: 1.3rem; 
  }
}