.daily-weather-info-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /*NAO ESTA A FUNCIONAR AQUI A LARGURA TODA*/
}

.daily-weather-left {
  display: flex;
  align-items: center;
}

.daily-weather-right {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align text to the right */
}

.current-temperature {
  font-size: 4rem; 
  margin: 0 5px;
}

.city-name-label {
  font-size: 1.2rem; /* Standard font size */
  margin: 0; /* Remove margin */
}

.week-day-label,
.description-label {
  font-size: 1rem; /* Consistent font size */
  margin: 0; /* Remove margin */
}

@media (min-width: 768px) {

  .daily-weather-info-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .daily-weather-right {
    align-items: self-end; /* Align text to the right */
  }

  .current-temperature {
    font-size: 4rem; 
  }

  .city-name-label {
    font-size: 1.5rem; 
  }

  .week-day-label,
  .description-label {
    font-size: 1.2rem; 
  }
}

@media (min-width: 1024px) {
  .daily-weather-info-row {
   flex-direction: row;
   justify-content: space-between;
  }

  .daily-weather-right {
    align-items: self-end; /* Align text to the right */
  }

  .current-temperature {
    font-size: 4.5rem; 
  }

  .city-name-label {
    font-size: 1.8rem; 
  }

  .week-day-label,
  .description-label {
    font-size: 1.3rem; 
  }
}