
*{
  font-family: 'Arial', sans-serif; 
  background-image: "public/images/background-image.jpg"
}

body {
  background-image: url('background-image.jpg');
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  min-height: 100vh; /* Ensure the body takes the full height of the viewport */
}

.app-container {
  
  margin: 20px auto; /* Center the frame horizontally and give it some top margin */
  padding: 20px; /* Inner padding for the frame */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center align children horizontally */
}

.app-title {
  font-size: 5vw; /* Large font size for emphasis */
  color: #fbfcfc; /* A beautiful blue color */
  text-align: center; /* Center the title */ 
  margin: 10px 0; /* Add some space around the title */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 1200px) {
  .app-title {
    font-size: 4vw; /* Adjust font size for screens up to 1200px */
  }
}

@media (max-width: 992px) {
  .app-title {
    font-size: 3vw; /* Adjust font size for screens up to 992px */
  }
}

@media (max-width: 768px) {
  .app-title {
    font-size: 4vw; /* Adjust font size for screens up to 768px */
  }
}

@media (max-width: 600px) {
  .app-title {
    font-size: 6vw; /* Further adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .app-title {
    font-size: 6vw; /* Further adjust font size for very small screens */
  }
}

@media (max-width: 360px) {
  .app-title {
    font-size: 6vw; /* Further adjust font size for very small screens */
  }
}


  
